header {
    background-image: url('../img/ba1.jpg');
    background-repeat: no-repeat;      
    background-size: cover;    
  }

  main {
      padding-top: 10px;
      padding-bottom: 10px;
  }  
  
footer {
    /*height:140px; */
    background-color: #1e5170;
}
